Ajoneuvojen avoin data sisältää kaikkien liikennekäytössä olevien ajoneuvojen rekisteröinti-, hyväksyntä- ja teknisiä tietoja Traficomin ylläpitämästä liikenneasioiden rekisteristä. Dataa päivitetään säännöllisesti. Samasta osoitteesta löytyy myös aineistokuvaus ja muuttujaluettelo Excel-muodossa:

https://www.traficom.fi/fi/ajankohtaista/avoin-data

Seuraavassa käytän kyseisestä datasta poimittua dataa, jossa on vuoden 2019 alusta lähtien rekisteröidyt henkilöautot.

In [1]:
import pandas as pd
pd.set_option.display_columns = None

In [2]:
df = pd.read_csv('autot.csv')
df.head()

C:\Users\Aki\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ajoneuvoluokka,ensirekisterointipvm,ajoneuvoryhma,ajoneuvonkaytto,kayttoonottopvm,vari,ovienLukumaara,korityyppi,ohjaamotyyppi,istumapaikkojenLkm,...,merkkiSelvakielinen,mallimerkinta,vaihteisto,vaihteidenLkm,kaupallinenNimi,voimanvalJaTehostamistapa,yksittaisKayttovoima,kunta,Co2,matkamittarilukema
0,M1,2019-01-02,NaN,1.0,20170406,8,5.0,AC,NaN,5.0,...,Mercedes-Benz,E 220 d Farmari (AC) 5ov 1950cm3 A,2,9.0,E 220 d,5.0,2.0,106.0,120.0,190760.0
1,M1,2019-01-02,NaN,1.0,20190102,9,5.0,AC,NaN,5.0,...,"Volkswagen, VW",PASSAT Farmari (AC) 5ov 1968cm3 A,2,7.0,PASSAT,5.0,2.0,609.0,113.0,NaN
2,M1,2019-01-02,NaN,1.0,20190102,9,4.0,AF,NaN,5.0,...,Lexus,LEXUS NX300H Monikäyttöajoneuvo (AF) 4ov 2494cm3,3,NaN,LEXUS NX300H,17.0,1.0,535.0,130.0,NaN
3,M1,2019-01-02,NaN,1.0,20190102,6,5.0,AC,NaN,5.0,...,Volvo,V90 Cross Country Farmari (AC) 5ov 1969cm3 A,2,8.0,V90 Cross Country,5.0,2.0,743.0,151.0,NaN
4,M1,2019-01-02,NaN,1.0,20190102,8,4.0,AA,NaN,5.0,...,BMW,530e iPerformance Sedan (AA) 4ov 1998cm3 A,2,8.0,530e iPerformance,5.0,1.0,91.0,NaN,NaN

In [3]:
df.tail()

,ajoneuvoluokka,ensirekisterointipvm,ajoneuvoryhma,ajoneuvonkaytto,kayttoonottopvm,vari,ovienLukumaara,korityyppi,ohjaamotyyppi,istumapaikkojenLkm,...,merkkiSelvakielinen,mallimerkinta,vaihteisto,vaihteidenLkm,kaupallinenNimi,voimanvalJaTehostamistapa,yksittaisKayttovoima,kunta,Co2,matkamittarilukema
266409,M1,2020-10-31,NaN,1.0,20201031,Y,4.0,AF,NaN,5.0,...,Nissan,Nissan Qashqai Monikäyttöajoneuvo (AF) 4ov 133...,2,7.0,Nissan Qashqai,5.0,1.0,507.0,123.0,NaN
266410,M1,2020-10-31,NaN,1.0,20170315,0,4.0,AB,1.0,5.0,...,Toyota,TOYOTA C-HR Viistoperä (AB) 4ov 1798cm3,3,NaN,TOYOTA C-HR,17.0,1.0,186.0,87.0,72872.0
266411,M1,2020-10-31,NaN,1.0,20140804,0,4.0,AC,NaN,5.0,...,BMW,320d Farmari (AC) 4ov 1995cm3,1,6.0,320d,5.0,2.0,609.0,125.0,98147.0
266412,M1G,2020-10-31,NaN,1.0,20100610,0,5.0,AC,NaN,5.0,...,Volvo,XC60 Farmari (AC) 5ov 2400cm3 A,2,6.0,XC60,5.0,2.0,149.0,199.0,206875.0
266413,M1G,2020-10-31,NaN,1.0,20150724,9,4.0,AC,1.0,5.0,...,Volvo,XC60 Farmari (AC) 4ov 2400cm3 A,2,6.0,XC60,5.0,2.0,710.0,149.0,100174.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266414 entries, 0 to 266413
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ajoneuvoluokka             266414 non-null  object
 1   ensirekisterointipvm       266414 non-null  object
 2   ajoneuvoryhma              6334 non-null    float64
 3   ajoneuvonkaytto            266414 non-null  float64
 4   kayttoonottopvm            266414 non-null  int64
 5   vari                       264947 non-null  object
 6   ovienLukumaara             266413 non-null  float64
 7   korityyppi                 264935 non-null  object
 8   ohjaamotyyppi              18397 non-null   float64
 9   istumapaikkojenLkm         266332 non-null  float64
 10  omamassa                   266414 non-null  float64
 11  teknSuurSallKokmassa       265120 non-null  float64
 12  tieliikSuurSallKokmassa    81539 non-null   float64
 13  ajonKokPituus              266276 non-null  float64
 14  ajonLeveys                 266317 non-null  float64
 15  ajonKorkeus                265015 non-null  float64
 16  kayttovoima                266414 non-null  float64
 17  iskutilavuus               260525 non-null  float64
 18  suurinNettoteho            260240 non-null  float64
 19  sylintereidenLkm           259710 non-null  float64
 20  ahdin                      256276 non-null  object
 21  sahkohybridi               265929 non-null  object
 22  sahkohybridinluokka        62735 non-null   float64
 23  merkkiSelvakielinen        266413 non-null  object
 24  mallimerkinta              266414 non-null  object
 25  vaihteisto                 264711 non-null  object
 26  vaihteidenLkm              220593 non-null  float64
 27  kaupallinenNimi            265908 non-null  object
 28  voimanvalJaTehostamistapa  266414 non-null  float64
 29  yksittaisKayttovoima       266414 non-null  float64
 30  kunta                      266406 non-null  float64
 31  Co2                        223777 non-null  float64
 32  matkamittarilukema         81725 non-null   float64
dtypes: float64(22), int64(1), object(10)
memory usage: 67.1+ MB

In [5]:
# Värit selväkielisinä (löytyvät Excel-muotoisesta aineistokuvauksesta)
varit = {'0':'Musta',
    '1':'Ruskea (beige)',
    '2':'Punainen',
    '3':'Oranssi',
    '4':'Keltainen',
    '5':'Vihreä',
    '6':'Sininen',
    '7':'Violetti',
    '8':'Harmaa',
    '9':'Valkoinen',
    'X':'Monivär.',
    'Y':'Hopea',
    'Z':'Turkoosi'}
df['vari'] = df['vari'].replace(varit)

In [6]:
# Kuinka suosittuja ovat eri värit olleet?
df['vari'].value_counts()

Valkoinen         70299
Harmaa            53870
Musta             50743
Sininen           28825
Punainen          26071
Hopea             16330
Ruskea (beige)    11240
Vihreä             2772
Oranssi            2218
Keltainen          1708
Violetti            601
Monivär.            145
Turkoosi            125
Name: vari, dtype: int64

In [7]:
# 20 suosituinta merkkiä
df_suositut = pd.crosstab(df['merkkiSelvakielinen'], 'Lukumäärä').nlargest(n = 20, columns = 'Lukumäärä' )
df_suositut

col_0                Lukumäärä
merkkiSelvakielinen
Toyota                   30335
Volvo                    28394
Mercedes-Benz            27025
Volkswagen, VW           24988
Skoda                    21259
BMW                      17498
Ford                     15098
Kia                      13714
Audi                     12310
Nissan                    8979
Opel                      8855
Hyundai                   6961
Mitsubishi                6414
Peugeot                   4829
Renault                   4765
Seat                      4118
Citroen                   3449
Mazda                     2823
Volkswagen                2539
Suzuki                    2418

In [8]:
# Värit eri merkeillä
df1 = pd.crosstab(df['merkkiSelvakielinen'], df['vari'])

# Suosituimmat värit suosituimmilla merkeillä
df1[df1.index.isin(df_suositut.index)].style.highlight_max(color='lightgreen', axis = 1)

In [9]:
# Sähköhybridien osuus suosituimmilla merkeillä
df2 = pd.crosstab(df['merkkiSelvakielinen'], df['sahkohybridi'], normalize = 'index') * 100
df2[df2.index.isin(df_suositut.index)]

sahkohybridi              False      True
merkkiSelvakielinen
Audi                  70.317705  29.682295
BMW                   72.858204  27.141796
Citroen               98.809524   1.190476
Ford                  92.391739   7.608261
Hyundai               87.093993  12.906007
Kia                   80.894855  19.105145
Mazda                 59.744862  40.255138
Mercedes-Benz         81.921824  18.078176
Mitsubishi            42.866053  57.133947
Nissan               100.000000   0.000000
Opel                  96.238138   3.761862
Peugeot               96.683938   3.316062
Renault               99.958010   0.041990
Seat                  97.326203   2.673797
Skoda                 96.371082   3.628918
Suzuki                80.099297  19.900703
Toyota                27.616222  72.383778
Volkswagen            84.200158  15.799842
Volkswagen, VW        87.080497  12.919503
Volvo                 70.445658  29.554342

In [10]:
# CO2-päästöjen vertailu sähköhybrideillä ja muilla
df.groupby('sahkohybridi')['Co2'].describe()

,count,mean,std,min,25%,50%,75%,max
sahkohybridi,,,,,,,,
False,190563.0,134.966321,32.331841,13.0,114.0,127.0,145.0,455.0
True,32731.0,97.962879,22.423145,44.0,84.0,89.0,105.0,277.0