### Excel- ja csv-muotoisten aineistojen avaaminen

In [1]:
#pandas-kirjastossa on toiminnot aineiston avaamiseen
#Vakiintuneen tavan mukaisesti käytän tässä pandas sijasta lyhennettä pd

import pandas as pd

In [2]:
#Avaan aineiston dataframeen, jonka nimeksi annan df1
#Avaan aineiston data1.xlsx-tiedoston Data-taulukkovälilehdeltä

df1=pd.read_excel('http://www.elisanet.fi/taanila/data1.xlsx',sheetname='Data')

#Tulostan aineiston sisällön

df1

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN
3,4,1,36,2,1.0,14.0,2144,3,3.0,3,3,3,1.0,NaN,NaN,NaN
4,5,1,24,1,2.0,4.0,2183,2,3.0,2,1,2,1.0,NaN,NaN,NaN
5,6,2,31,2,2.0,14.0,1910,4,4.0,5,2,4,1.0,1.0,NaN,NaN
6,7,1,49,1,2.0,16.0,2066,3,5.0,4,2,2,NaN,NaN,1.0,NaN
7,8,1,55,1,1.0,0.0,2066,3,5.0,3,1,3,1.0,NaN,NaN,NaN
8,9,1,40,2,1.0,23.0,2768,2,4.0,4,2,4,NaN,1.0,NaN,NaN
9,10,1,33,1,1.0,16.0,2106,3,2.0,1,1,1,1.0,NaN,NaN,NaN
10,11,1,39,2,1.0,22.0,2651,3,5.0,3,1,3,NaN,NaN,NaN,NaN
11,12,1,40,2,3.0,21.0,2846,3,5.0,3,1,2,NaN,1.0,NaN,1.0
12,13,1,35,2,3.0,15.0,2808,3,5.0,3,1,4,NaN,1.0,NaN,NaN
13,14,1,58,2,3.0,21.0,3587,4,5.0,4,1,3,NaN,NaN,NaN,NaN
14,15,1,53,2,3.0,12.0,3393,4,4.0,4,4,4,NaN,1.0,NaN,NaN
15,16,2,42,2,3.0,23.0,2691,3,3.0,3,3,3,1.0,NaN,NaN,1.0
16,17,1,26,1,4.0,2.0,5225,5,5.0,5,4,5,NaN,NaN,1.0,NaN
17,18,2,38,2,3.0,17.0,2729,4,3.0,4,2,1,NaN,NaN,NaN,NaN
18,19,1,42,1,3.0,20.0,2925,2,3.0,4,1,4,1.0,NaN,NaN,1.0
19,20,2,40,2,2.0,13.0,2457,3,3.0,4,3,2,1.0,NaN,NaN,1.0
20,21,2,40,2,3.0,20.0,2691,2,4.0,5,3,4,NaN,NaN,NaN,NaN
21,22,1,47,2,3.0,17.0,4874,2,4.0,3,2,4,NaN,1.0,NaN,NaN
22,23,1,44,2,1.0,27.0,3510,4,4.0,4,4,4,NaN,1.0,NaN,NaN
23,24,1,36,1,3.0,7.0,4446,3,4.0,3,4,5,NaN,NaN,NaN,NaN
24,25,1,43,2,3.0,1.0,2925,4,4.0,4,4,4,NaN,1.0,NaN,NaN
25,26,1,26,1,2.0,3.0,1521,2,4.0,2,1,3,1.0,NaN,1.0,1.0
26,27,1,26,1,2.0,2.0,1989,2,4.0,2,2,3,1.0,NaN,NaN,1.0
27,28,2,56,1,1.0,15.0,2223,3,4.0,3,2,4,1.0,NaN,NaN,1.0
28,29,1,47,2,2.0,23.0,2808,2,4.0,3,1,4,1.0,NaN,NaN,NaN
29,30,1,21,1,NaN,NaN,1949,4,4.0,3,3,2,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,53,1,44,2,1.0,3.0,1989,1,2.0,2,1,1,1.0,NaN,NaN,NaN
53,54,1,25,1,2.0,1.0,1559,2,4.0,3,1,2,1.0,NaN,NaN,NaN
54,55,2,45,2,1.0,17.0,2417,3,5.0,4,3,3,NaN,NaN,NaN,1.0
55,56,2,31,2,1.0,6.0,1949,4,4.0,4,3,3,1.0,NaN,NaN,1.0
56,57,1,61,2,2.0,36.0,3119,2,NaN,2,1,5,1.0,NaN,NaN,1.0
57,58,1,38,2,2.0,NaN,2574,2,3.0,1,1,2,1.0,NaN,NaN,1.0
58,59,1,20,1,2.0,1.0,2261,3,4.0,3,2,3,NaN,NaN,NaN,NaN
59,60,1,31,1,1.0,10.0,2144,4,4.0,3,1,3,1.0,NaN,NaN,NaN
60,61,1,44,1,1.0,19.0,2183,2,2.0,1,1,2,1.0,NaN,NaN,NaN
61,62,1,40,2,1.0,0.0,1872,2,3.0,1,2,3,1.0,NaN,NaN,NaN
62,63,2,51,2,2.0,10.0,1872,4,3.0,2,2,3,1.0,NaN,NaN,NaN
63,64,2,44,1,2.0,1.0,1715,4,4.0,3,2,3,1.0,NaN,NaN,1.0
64,65,2,35,2,2.0,17.0,2691,4,4.0,5,2,4,1.0,NaN,NaN,1.0
65,66,2,37,2,1.0,16.0,2027,5,5.0,5,4,5,1.0,1.0,NaN,NaN
66,67,1,37,2,4.0,8.0,5069,3,4.0,3,2,2,1.0,1.0,NaN,1.0
67,68,1,33,2,3.0,7.0,2417,2,4.0,3,1,4,NaN,NaN,NaN,NaN
68,69,1,28,2,2.0,1.0,3510,4,5.0,3,1,4,NaN,NaN,NaN,NaN
69,70,1,52,2,2.0,22.0,3119,3,4.0,3,2,2,1.0,1.0,NaN,1.0
70,71,1,34,2,2.0,1.0,2495,3,5.0,5,3,4,NaN,1.0,NaN,NaN
71,72,1,46,2,2.0,23.0,3470,3,5.0,5,3,4,NaN,1.0,NaN,NaN
72,73,2,40,2,3.0,2.0,2027,5,3.0,4,3,4,1.0,NaN,NaN,NaN
73,74,1,45,2,1.0,20.0,2846,3,5.0,1,1,3,1.0,NaN,NaN,NaN
74,75,1,40,1,1.0,1.0,1949,1,5.0,1,1,1,1.0,NaN,NaN,NaN
75,76,1,37,1,2.0,15.0,1598,1,5.0,1,1,1,1.0,NaN,NaN,NaN
76,77,1,39,1,2.0,22.0,2183,4,5.0,3,1,2,NaN,NaN,NaN,NaN
77,78,1,22,1,3.0,0.0,1598,4,4.0,4,3,4,NaN,1.0,1.0,NaN
78,79,1,33,1,1.0,2.0,1638,1,3.0,2,1,2,1.0,NaN,NaN,NaN
79,80,1,27,1,2.0,7.0,2612,3,4.0,3,3,3,1.0,NaN,1.0,NaN
80,81,1,35,2,2.0,16.0,2808,3,4.0,3,3,3,NaN,NaN,NaN,NaN
81,82,2,35,2,3.0,15.0,2183,3,4.0,4,3,4,1.0,NaN,NaN,NaN

In [3]:
#Avaan paikalliselta levyltä csv-muotoisen aineiston
#Tässä aineistossa erotinmerkkinä on pilkun sijasta puolipiste

df2=pd.read_csv('C:/Users/taaak/data1.csv',delimiter=';')

#Tulostan aineiston 3 ensimmäistä riviä

df2.head(3)

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN

Ihmetteletkö, miksi osa arvoista näyttää kokonaisluvuilta ja osassa taas on desimaali? Jos muuttujalla on puuttuvia arvoja, niin se tulkitaan desimaaliluvuksi. Tästä ei kannata olla huolissaan.

Lisätietoa read_excel ja read_csv toiminnoista:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html