# Dataframe

In [1]:
#seuraavan tarvitsen aina kun käytän dataframea:
import pandas as pd

#luon Pythonin dictionary-tyyppisen tietorakenteen:
raw_data={'tuote': ['muikkukukko', 'lanttukukko', 'lihalörtsy', 'kasvislörtsy'],
'varasto': [8, 10, 5, 7],
'hinta': [15, 12, 3, 3]}

#luon dataframen, johon viittaan df-nimellä:
df = pd.DataFrame(raw_data, columns = ['tuote', 'varasto', 'hinta'])
#jos columns-argumentti puuttuu, niin sarakkeet järjestyvät nimen mukaiseen aakkosjärjestykseen

#näytän dataframen:
df

          tuote  varasto  hinta
0   muikkukukko        8     15
1   lanttukukko       10     12
2    lihalörtsy        5      3
3  kasvislörtsy        7      3

In [2]:
#dataframen rivien ja sarkkeiden määrä
df.shape

(4, 3)

In [3]:
#rivi-indeksi
df.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
#sarakeindeksin arvot
df.columns

Index(['tuote', 'varasto', 'hinta'], dtype='object')

In [5]:
#Lanttukukon hinta indeksihaulla
df.iloc[1,2]

12

In [6]:
#tiedot lihalörtsyn riviltä:
df.iloc[2, :]

tuote      lihalörtsy
varasto             5
hinta               3
Name: 2, dtype: object

In [7]:
#voin sijoitta tuote-sarakkeen arvot rivi-indeksin arvoiksi:
df.index=df['tuote']
df

                     tuote  varasto  hinta
tuote
muikkukukko    muikkukukko        8     15
lanttukukko    lanttukukko       10     12
lihalörtsy      lihalörtsy        5      3
kasvislörtsy  kasvislörtsy        7      3

In [8]:
#loc paikantaa arvon indeksin arvojen perusteella perusteella:
df.loc['lihalörtsy']

tuote      lihalörtsy
varasto             5
hinta               3
Name: lihalörtsy, dtype: object

In [9]:
#lihalörtsyjen varastoarvo:
df.loc['lihalörtsy','hinta']

3

In [11]:
#tiedot muikkukukosta lanttukukkoon:
df.loc['muikkukukko' : 'lanttukukko', 'hinta']

tuote
muikkukukko    15
lanttukukko    12
Name: hinta, dtype: int64

In [12]:
#voin laskea uuden sarakkeen aikaisempien avulla:
df['arvo'] = df['varasto'] * df['hinta']  
df

                     tuote  varasto  hinta  arvo
tuote
muikkukukko    muikkukukko        8     15   120
lanttukukko    lanttukukko       10     12   120
lihalörtsy      lihalörtsy        5      3    15
kasvislörtsy  kasvislörtsy        7      3    21

In [13]:
#voin käyttää monia Pythonin funktioita koko sarakkeeseen tai jopa koko dataframeen:
df['arvo'].sum()

276

In [14]:
#kukkojen varastoarvo
df.loc['muikkukukko':'lanttukukko', 'arvo'].sum()

240