# Ryhmittelyjä groupby-toiminnolla

In [1]:
import pandas as pd

#avaan Excel-datan dataframeen:
df = pd.read_excel('http://www.elisanet.fi/taanila/data1.xlsx',sheetname = 'Data')

In [2]:
#palkan tunnuslukuja koulutuksen määräämissä ryhmissä:
df1 = df['palkka'].groupby(df['koulutus']).describe()

#esitän ilman desimaaleja:
df1.style.format('{:.0f}')

In [3]:
#palkkakeskiarvoja sukupuolen ja koulutuksen määräämissä ryhmissä
#unstack siirtää koulutukset sarakkeisiin:
df2 = df['palkka'].groupby([df['sukupuoli'], df['koulutus']]).mean().unstack()
df2.style.format('{:.0f}')

In [4]:
#Keskiarvoja koulutuksen ja sukupuolen määräämissä ryhmissä
df3 = df.groupby(['koulutus', 'sukupuoli']).agg({'palkka':'mean', 'tyytyväisyys palkkaan':'mean'})
df3.style.format('{:.2f}')

In [5]:
df4 = df.groupby(['sukupuoli', 'koulutus'])[['tyytyväisyys johtoon','tyytyväisyys työtovereihin']].mean()
df4.style.format('{:.2f}')

In [6]:
#keskiarvopalkat hierojaa käyttäneille sukupuolittain:
df[df['hieroja'] == 1].groupby('sukupuoli')['palkka'].mean()

sukupuoli
1    2657.538462
2    2317.888889
Name: palkka, dtype: float64

In [7]:
#palkan tunnuslukuja sukupuolittain hierojaa ja työterveyshuoltoa käyttäneillä:
df[(df['hieroja'] == 1) & (df['työterveyshuolto'] == 1)].groupby('sukupuoli')['palkka'].describe()

,count,mean,std,min,25%,50%,75%,max
sukupuoli,,,,,,,,
1,12.0,2641.833333,905.392214,1521.0,2134.5,2457.0,2973.5,5069.0
2,7.0,2245.000000,382.385495,1715.0,1969.0,2223.0,2574.0,2691.0