# Ryhmittelyjä groupby-toiminnolla

Tätä työkalua ei kannata ohittaa!

In [1]:
import pandas as pd

#Avaan Excel-datan dataframeen ja näytän viisi ensimmäistä riviä.
#Vanhemmissa pandas-versioissa <b>sheet_name</b> sijasta täytyy käyttää <b>sheetname</b>.
df = pd.read_excel('http://taanila.fi/data1.xlsx', sheet_name = 'Data')

In [2]:
#Kaksi listaa, joita hyödynnän jatkossa:
sukup = ['Mies','Nainen']
koulutus = ['Peruskoulu','2. aste','Korkeakoulu','Ylempi korkeakoulu']

In [3]:
#Palkan tunnuslukuja koulutuksen määräämissä ryhmissä:
df1 = df.groupby('koulutus')['palkka'].describe()

#Koulutusten oikeat nimet numeroiden 1, 2, 3, 4 sijasta:
df1.index = koulutus

#Esitän tulokset ilman desimaaleja:
df1.style.format('{:.0f}')

In [4]:
#Palkkakeskiarvoja sukupuolen ja koulutuksen määräämissä ryhmissä.
#Unstack siirtää koulutukset sarakkeisiin:
df2 = df.groupby(['sukup','koulutus'])['palkka'].mean().unstack()

#Sukupuolen ja koulutuksen arvojen nimet numeroiden sijasta:
df2.index = sukup
df2.columns = koulutus

#Esitän tulokset ilman desimaaleja:
df2.style.format('{:.0f}')

In [5]:
#Keskiarvoja koulutuksen ja sukupuolen määräämissä ryhmissä:
df3 = df.groupby(['koulutus', 'sukup'])[['palkka','palkkat']].mean()

#Hierarkinen indeksi vaatii omat niksinsä tekstiarvojen sijoittamiseen:
df3.index = df3.index.set_levels(koulutus, level=0)
df3.index = df3.index.set_levels(sukup, level=1)

#Esitän tulokset kahdella desimaalilla
df3.style.format('{:.2f}')

In [6]:
#Tyytyväisyyskeskiarvoja sukupuolen ja koulutuksen mukaan.
#Vertaa toteutusta edellisen solun agg-toteutukseen.
df4 = df.groupby(['sukup', 'koulutus'])[['johto','työtov']].mean()

df4.index = df4.index.set_levels(sukup, level=0)
df4.index = df4.index.set_levels(koulutus, level=1)

df4.style.format('{:.2f}')

In [7]:
#Keskiarvopalkat hierojaa käyttäneille sukupuolittain
df5 = df[df['hieroja'] == 1].groupby('sukup')['palkka'].mean()

#Sukupuolten oikeat nimet numeroiden sijasta:
df5.index = sukup

#mean-funktiolla laskettu yksisarakkeinen tulostaulukko ei ole dataframe,
#joten muunnan sen dataframeksi:
pd.DataFrame(df5).style.format('{:.0f}')

In [8]:
#Palkan tunnuslukuja sukupuolittain hierojaa ja työterveyshuoltoa käyttäneillä
df6 = df[(df['hieroja'] == 1) & (df['työterv'] == 1)].groupby('sukup')['palkka'].describe()

df6.index = sukup

df6.style.format('{:.0f}')