# Luokiteltu jakauma cut-funktiolla

In [1]:
import pandas as pd
df = pd.read_excel('http://www.elisanet.fi/taanila/data1.xlsx',sheetname = 'Data')

In [2]:
#Tarkastelen aluksi ikäjakaumaa tunnuslukujen valossa
#Huomaan, että nuorin on 20-vuotias ja vanhin 61-vuotias
df['ikä'].describe()

count    82.000000
mean     37.951220
std       9.773866
min      20.000000
25%      31.000000
50%      37.500000
75%      44.000000
max      61.000000
Name: ikä, dtype: float64

In [3]:
#Asetan luokkarajat ja luokkien nimet
bins = [20, 30, 40, 50, 62]
group_names = ['20-29', '30-39', '40-49', '50-']

#Luon aineistoon uudet muuttujat 'luokkarajat' ja 'ikäluokka'
#Jos right=False, niin alarajat kuuluvat luokkaan, mutta ylärajat eivät
#Jotta saan 61-vuotiaankin mukaan, niin suurin bin pitää olla vähintään 62
df['luokkarajat'] = pd.cut(df['ikä'], bins,right = False)
df['ikäluokka'] = pd.cut(df['ikä'], bins, labels = group_names, right = False)

#Tarkistan luokkarajat: hakasulun vieressä oleva luku kuuluu luokkaan, kaarisulun vieressä oleva luku ei kuulu luokkaan
pd.crosstab(df['luokkarajat'], 'lkm')

col_0        lkm
luokkarajat
[20, 30)      17
[30, 40)      30
[40, 50)      23
[50, 62)      12

In [4]:
#Lasken frekvenssit 'ikäluokka'-muuttujalle prosentteina
df1 = pd.crosstab(df['ikäluokka'], 'lkm', normalize = 'columns')
df1.style.format('{:.1%}')

In [5]:
#Vaihdan häiritsevän 'col_0' -nimen tilalle tyhjän merkkijonon
df1.columns.name = ''
df1.style.format('{:.1%}')

In [6]:
#Määritän get_stats -funktion, joka laskee muutamia tunnuslukuja
def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 'lkm': group.count(), 'keskiarvo': group.mean()}

#Lasken palkalle tunnuslukuja ikäluokittain get_stats -funktiolla
df2 = df['palkka'].groupby(df['ikäluokka']).apply(get_stats).unstack()

#Ilman seuraavaa tunnusluvut tulevat taulukkoon aakkosjärjestysessä (keskiarvo, lkm, max, min)
df2 = df2[['lkm', 'min', 'max', 'keskiarvo']]

#Jätän desimaalit pois näkyvistä
df2.style.format('{:.0f}')

In [7]:
#Tulostan näkyviin df-dataframen. Kahdesta viimeisestä sarakkeesta löytyy 'luokkarajat' ja 'ikäluokka'
df

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja,luokkarajat,ikäluokka
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN,"[30, 40)",30-39
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN,"[20, 30)",20-29
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN,"[30, 40)",30-39
3,4,1,36,2,1.0,14.0,2144,3,3.0,3,3,3,1.0,NaN,NaN,NaN,"[30, 40)",30-39
4,5,1,24,1,2.0,4.0,2183,2,3.0,2,1,2,1.0,NaN,NaN,NaN,"[20, 30)",20-29
5,6,2,31,2,2.0,14.0,1910,4,4.0,5,2,4,1.0,1.0,NaN,NaN,"[30, 40)",30-39
6,7,1,49,1,2.0,16.0,2066,3,5.0,4,2,2,NaN,NaN,1.0,NaN,"[40, 50)",40-49
7,8,1,55,1,1.0,0.0,2066,3,5.0,3,1,3,1.0,NaN,NaN,NaN,"[50, 62)",50-
8,9,1,40,2,1.0,23.0,2768,2,4.0,4,2,4,NaN,1.0,NaN,NaN,"[40, 50)",40-49
9,10,1,33,1,1.0,16.0,2106,3,2.0,1,1,1,1.0,NaN,NaN,NaN,"[30, 40)",30-39
10,11,1,39,2,1.0,22.0,2651,3,5.0,3,1,3,NaN,NaN,NaN,NaN,"[30, 40)",30-39
11,12,1,40,2,3.0,21.0,2846,3,5.0,3,1,2,NaN,1.0,NaN,1.0,"[40, 50)",40-49
12,13,1,35,2,3.0,15.0,2808,3,5.0,3,1,4,NaN,1.0,NaN,NaN,"[30, 40)",30-39
13,14,1,58,2,3.0,21.0,3587,4,5.0,4,1,3,NaN,NaN,NaN,NaN,"[50, 62)",50-
14,15,1,53,2,3.0,12.0,3393,4,4.0,4,4,4,NaN,1.0,NaN,NaN,"[50, 62)",50-
15,16,2,42,2,3.0,23.0,2691,3,3.0,3,3,3,1.0,NaN,NaN,1.0,"[40, 50)",40-49
16,17,1,26,1,4.0,2.0,5225,5,5.0,5,4,5,NaN,NaN,1.0,NaN,"[20, 30)",20-29
17,18,2,38,2,3.0,17.0,2729,4,3.0,4,2,1,NaN,NaN,NaN,NaN,"[30, 40)",30-39
18,19,1,42,1,3.0,20.0,2925,2,3.0,4,1,4,1.0,NaN,NaN,1.0,"[40, 50)",40-49
19,20,2,40,2,2.0,13.0,2457,3,3.0,4,3,2,1.0,NaN,NaN,1.0,"[40, 50)",40-49
20,21,2,40,2,3.0,20.0,2691,2,4.0,5,3,4,NaN,NaN,NaN,NaN,"[40, 50)",40-49
21,22,1,47,2,3.0,17.0,4874,2,4.0,3,2,4,NaN,1.0,NaN,NaN,"[40, 50)",40-49
22,23,1,44,2,1.0,27.0,3510,4,4.0,4,4,4,NaN,1.0,NaN,NaN,"[40, 50)",40-49
23,24,1,36,1,3.0,7.0,4446,3,4.0,3,4,5,NaN,NaN,NaN,NaN,"[30, 40)",30-39
24,25,1,43,2,3.0,1.0,2925,4,4.0,4,4,4,NaN,1.0,NaN,NaN,"[40, 50)",40-49
25,26,1,26,1,2.0,3.0,1521,2,4.0,2,1,3,1.0,NaN,1.0,1.0,"[20, 30)",20-29
26,27,1,26,1,2.0,2.0,1989,2,4.0,2,2,3,1.0,NaN,NaN,1.0,"[20, 30)",20-29
27,28,2,56,1,1.0,15.0,2223,3,4.0,3,2,4,1.0,NaN,NaN,1.0,"[50, 62)",50-
28,29,1,47,2,2.0,23.0,2808,2,4.0,3,1,4,1.0,NaN,NaN,NaN,"[40, 50)",40-49
29,30,1,21,1,NaN,NaN,1949,4,4.0,3,3,2,1.0,NaN,NaN,NaN,"[20, 30)",20-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,53,1,44,2,1.0,3.0,1989,1,2.0,2,1,1,1.0,NaN,NaN,NaN,"[40, 50)",40-49
53,54,1,25,1,2.0,1.0,1559,2,4.0,3,1,2,1.0,NaN,NaN,NaN,"[20, 30)",20-29
54,55,2,45,2,1.0,17.0,2417,3,5.0,4,3,3,NaN,NaN,NaN,1.0,"[40, 50)",40-49
55,56,2,31,2,1.0,6.0,1949,4,4.0,4,3,3,1.0,NaN,NaN,1.0,"[30, 40)",30-39
56,57,1,61,2,2.0,36.0,3119,2,NaN,2,1,5,1.0,NaN,NaN,1.0,"[50, 62)",50-
57,58,1,38,2,2.0,NaN,2574,2,3.0,1,1,2,1.0,NaN,NaN,1.0,"[30, 40)",30-39
58,59,1,20,1,2.0,1.0,2261,3,4.0,3,2,3,NaN,NaN,NaN,NaN,"[20, 30)",20-29
59,60,1,31,1,1.0,10.0,2144,4,4.0,3,1,3,1.0,NaN,NaN,NaN,"[30, 40)",30-39
60,61,1,44,1,1.0,19.0,2183,2,2.0,1,1,2,1.0,NaN,NaN,NaN,"[40, 50)",40-49
61,62,1,40,2,1.0,0.0,1872,2,3.0,1,2,3,1.0,NaN,NaN,NaN,"[40, 50)",40-49
62,63,2,51,2,2.0,10.0,1872,4,3.0,2,2,3,1.0,NaN,NaN,NaN,"[50, 62)",50-
63,64,2,44,1,2.0,1.0,1715,4,4.0,3,2,3,1.0,NaN,NaN,1.0,"[40, 50)",40-49
64,65,2,35,2,2.0,17.0,2691,4,4.0,5,2,4,1.0,NaN,NaN,1.0,"[30, 40)",30-39
65,66,2,37,2,1.0,16.0,2027,5,5.0,5,4,5,1.0,1.0,NaN,NaN,"[30, 40)",30-39
66,67,1,37,2,4.0,8.0,5069,3,4.0,3,2,2,1.0,1.0,NaN,1.0,"[30, 40)",30-39
67,68,1,33,2,3.0,7.0,2417,2,4.0,3,1,4,NaN,NaN,NaN,NaN,"[30, 40)",30-39
68,69,1,28,2,2.0,1.0,3510,4,5.0,3,1,4,NaN,NaN,NaN,NaN,"[20, 30)",20-29
69,70,1,52,2,2.0,22.0,3119,3,4.0,3,2,2,1.0,1.0,NaN,1.0,"[50, 62)",50-
70,71,1,34,2,2.0,1.0,2495,3,5.0,5,3,4,NaN,1.0,NaN,NaN,"[30, 40)",30-39
71,72,1,46,2,2.0,23.0,3470,3,5.0,5,3,4,NaN,1.0,NaN,NaN,"[40, 50)",40-49
72,73,2,40,2,3.0,2.0,2027,5,3.0,4,3,4,1.0,NaN,NaN,NaN,"[40, 50)",40-49
73,74,1,45,2,1.0,20.0,2846,3,5.0,1,1,3,1.0,NaN,NaN,NaN,"[40, 50)",40-49
74,75,1,40,1,1.0,1.0,1949,1,5.0,1,1,1,1.0,NaN,NaN,NaN,"[40, 50)",40-49
75,76,1,37,1,2.0,15.0,1598,1,5.0,1,1,1,1.0,NaN,NaN,NaN,"[30, 40)",30-39
76,77,1,39,1,2.0,22.0,2183,4,5.0,3,1,2,NaN,NaN,NaN,NaN,"[30, 40)",30-39
77,78,1,22,1,3.0,0.0,1598,4,4.0,4,3,4,NaN,1.0,1.0,NaN,"[20, 30)",20-29
78,79,1,33,1,1.0,2.0,1638,1,3.0,2,1,2,1.0,NaN,NaN,NaN,"[30, 40)",30-39
79,80,1,27,1,2.0,7.0,2612,3,4.0,3,3,3,1.0,NaN,1.0,NaN,"[20, 30)",20-29
80,81,1,35,2,2.0,16.0,2808,3,4.0,3,3,3,NaN,NaN,NaN,NaN,"[30, 40)",30-39
81,82,2,35,2,3.0,15.0,2183,3,4.0,4,3,4,1.0,NaN,NaN,NaN,"[30, 40)",30-39