# Luokiteltu jakauma cut-funktiolla

In [1]:
import pandas as pd

#Avaan Excel-datan dataframeen ja näytän viisi ensimmäistä riviä.
#Vanhemmissa pandas-versioissa 'sheet_name sijasta' täytyy käyttää 'sheetname'.
df = pd.read_excel('http://taanila.fi/data1.xlsx',sheet_name = 'Data')

In [2]:
#Tarkastelen aluksi ikäjakaumaa tunnuslukujen valossa.
#Huomaan, että nuorin on 20-vuotias ja vanhin 61-vuotias.
df['ikä'].describe()

count    82.000000
mean     37.951220
std       9.773866
min      20.000000
25%      31.000000
50%      37.500000
75%      44.000000
max      61.000000
Name: ikä, dtype: float64

In [3]:
#Asetan luokkarajat ja luokkien nimet
bins = [20, 30, 40, 50, 62]
group_names = ['20-29', '30-39', '40-49', '50-']

#Luon aineistoon uudet muuttujat 'luokkarajat' ja 'ikäluokka'
#Jos right=False, niin alarajat kuuluvat luokkaan, mutta ylärajat eivät
#Jotta saan 61-vuotiaankin mukaan, niin suurin bin pitää olla vähintään 62
df['luokkarajat'] = pd.cut(df['ikä'], bins, right = False)
df['ikäluokka'] = pd.cut(df['ikä'], bins, labels = group_names, right = False)

#Tarkistan luokkarajat: hakasulun vieressä oleva luku kuuluu luokkaan, 
#kaarisulun vieressä oleva luku ei kuulu luokkaan
pd.crosstab(df['luokkarajat'], 'lkm')

col_0        lkm
luokkarajat
[20, 30)      17
[30, 40)      30
[40, 50)      23
[50, 62)      12

In [4]:
#Lasken frekvenssiprosentit 'ikäluokka'-muuttujalle prosentteina:
df1 = pd.crosstab(df['ikäluokka'], 'lkm', normalize = 'columns')

#Loppusilaus (suomenkielessä välilyönti prosenttiluvun ja %merkin välissä):
(df1*100).style.format('{:.1f} %')

In [5]:
#Vaihdan häiritsevän 'col_0' -nimen tilalle tyhjän merkkijonon
df1.columns.name = ''
(df1*100).style.format('{:.1f} %')

In [6]:
#Määritän get_stats -funktion, joka laskee muutamia tunnuslukuja:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 
            'lkm': group.count(), 'keskiarvo': group.mean()}

#Lasken palkalle tunnuslukuja ikäluokittain get_stats -funktiolla
df2 = df.groupby('ikäluokka')['palkka'].apply(get_stats).unstack()

#Ilman seuraavaa tunnusluvut tulevat taulukkoon aakkosjärjestysessä 
#(keskiarvo, lkm, max, min):
df2 = df2[['lkm', 'min', 'max', 'keskiarvo']]

#Jätän desimaalit pois näkyvistä
df2.style.format('{:.0f}')

In [7]:
#Katson vielä, miltä 'luokkarajat' ja 'ikäluokka' näyttävät datassa:
df[['luokkarajat','ikäluokka']]

   luokkarajat ikäluokka
0     [30, 40)     30-39
1     [20, 30)     20-29
2     [30, 40)     30-39
3     [30, 40)     30-39
4     [20, 30)     20-29
5     [30, 40)     30-39
6     [40, 50)     40-49
7     [50, 62)       50-
8     [40, 50)     40-49
9     [30, 40)     30-39
10    [30, 40)     30-39
11    [40, 50)     40-49
12    [30, 40)     30-39
13    [50, 62)       50-
14    [50, 62)       50-
15    [40, 50)     40-49
16    [20, 30)     20-29
17    [30, 40)     30-39
18    [40, 50)     40-49
19    [40, 50)     40-49
20    [40, 50)     40-49
21    [40, 50)     40-49
22    [40, 50)     40-49
23    [30, 40)     30-39
24    [40, 50)     40-49
25    [20, 30)     20-29
26    [20, 30)     20-29
27    [50, 62)       50-
28    [40, 50)     40-49
29    [20, 30)     20-29
..         ...       ...
52    [40, 50)     40-49
53    [20, 30)     20-29
54    [40, 50)     40-49
55    [30, 40)     30-39
56    [50, 62)       50-
57    [30, 40)     30-39
58    [20, 30)     20-29
59    [30, 40)     30-39
60    [40, 50)     40-49
61    [40, 50)     40-49
62    [50, 62)       50-
63    [40, 50)     40-49
64    [30, 40)     30-39
65    [30, 40)     30-39
66    [30, 40)     30-39
67    [30, 40)     30-39
68    [20, 30)     20-29
69    [50, 62)       50-
70    [30, 40)     30-39
71    [40, 50)     40-49
72    [40, 50)     40-49
73    [40, 50)     40-49
74    [40, 50)     40-49
75    [30, 40)     30-39
76    [30, 40)     30-39
77    [20, 30)     20-29
78    [30, 40)     30-39
79    [20, 30)     20-29
80    [30, 40)     30-39
81    [30, 40)     30-39

[82 rows x 2 columns]