In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.metrics import classification_report

df=pd.read_excel('http://www.elisanet.fi/taanila/logr1.xlsx')
df.head()

   Obs No.  Buy  Income  Is Female  Is Married
0        1    0   24000          1           0
1        2    1   75000          1           1
2        3    0   46000          1           1
3        4    1   70000          0           1
4        5    0   43000          1           0

In [2]:
#X=feature, y=target
X=df[['Income','Is Female','Is Married']]
y=df['Buy']

In [3]:
#Valitse malli ja sovita (fit) malli
malli=GaussianNB()
malli.fit(X,y)

GaussianNB(priors=None)

In [4]:
#Ennusta (predict) mallia käyttäen
ennuste=malli.predict(X)
df['Forecast']=ennuste
df.head()

   Obs No.  Buy  Income  Is Female  Is Married  Forecast
0        1    0   24000          1           0         0
1        2    1   75000          1           1         1
2        3    0   46000          1           1         0
3        4    1   70000          0           1         1
4        5    0   43000          1           0         0

In [5]:
#Mallin laskemat todennäköisyydet ostamiselle
todnak=malli.predict_proba(X)
df['Probability']=todnak[:,1]
df.head()

   Obs No.  Buy  Income  Is Female  Is Married  Forecast  Probability
0        1    0   24000          1           0         0     0.000004
1        2    1   75000          1           1         1     0.927939
2        3    0   46000          1           1         0     0.051156
3        4    1   70000          0           1         1     0.880402
4        5    0   43000          1           0         0     0.011407

In [6]:
accuracy_score = malli.score(X, y)
accuracy_score

0.9271916790490342

In [7]:
print(classification_report(y, ennuste))

             precision    recall  f1-score   support

          0       0.97      0.94      0.95       548
          1       0.76      0.88      0.82       125

avg / total       0.93      0.93      0.93       673

In [8]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y, ennuste)

array([[514,  34],
       [ 15, 110]], dtype=int64)