In [1]:
import pandas as pd
import scipy.stats as stats

df = pd.read_excel('http://www.elisanet.fi/taanila/data1.xlsx', sheetname = 'Data')
df.head()

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN
3,4,1,36,2,1.0,14.0,2144,3,3.0,3,3,3,1.0,NaN,NaN,NaN
4,5,1,24,1,2.0,4.0,2183,2,3.0,2,1,2,1.0,NaN,NaN,NaN

In [2]:
#Pearsonin korrelaatio ja 2-suuntainen p-arvo
stats.pearsonr(df['ikä'], df['palkka'])

(0.29687190489617787, 0.0067615145801081964)

In [3]:
#Spearmanin järjestyskorrelaatio ja 2-suuntainen p-arvo
stats.spearmanr(df['ikä'], df['palkka'])

SpearmanrResult(correlation=0.30955873357799968, pvalue=0.0046546855495287268)

In [4]:
#Khiin neliö -testi: khiin neliö, p-arvo, vapausasteet, odotetut frekvenssit
stats.chi2_contingency(pd.crosstab(df['sukupuoli'], df['perhe']))

(3.9518615218205753,
 0.046819548114598535,
 1,
 array([[ 23.81707317,  39.18292683],
        [  7.18292683,  11.81707317]]))

In [5]:
#Riippumattomien otosten t-testin t ja 2-suuntainen p-arvo
a=df['palkka'][df['sukupuoli']==1] #Mies
b=df['palkka'][df['sukupuoli']==2] #Nainen
stats.ttest_ind(a,b,equal_var=False)

Ttest_indResult(statistic=3.0597612743474714, pvalue=0.0030482720296978721)

In [6]:
#Mann-Whithney U -testin U ja p-arvo
stats.mannwhitneyu(a,b)

MannwhitneyuResult(statistic=410.5, pvalue=0.019611152715409058)

In [7]:
#Yksisuuntaisen varianssianalyysin F ja p-arvo
k1=df['palkka'][df['koulutus']==1] #peruskoulu
k2=df['palkka'][df['koulutus']==2] #2. aste
k3=df['palkka'][df['koulutus']==3] #korkeakoulu
k4=df['palkka'][df['koulutus']==4] #ylempi korkeakoulu
stats.f_oneway(k1,k2,k3,k4)

F_onewayResult(statistic=11.675086950951924, pvalue=2.1865735346800742e-06)

In [8]:
#Kruskal-Wallis -testin H ja p-arvo
stats.kruskal(k1, k2, k3, k4)

KruskalResult(statistic=10.983022700942131, pvalue=0.011818033370911517)

Testien tarkemmat tiedot edeltävyysehtoineen:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html#scipy.stats.pearsonr

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.spearmanr.html

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html#scipy.stats.chi2_contingency

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mannwhitneyu.html

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.f_oneway.html#scipy.stats.f_oneway

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kruskal.html#scipy.stats.kruskal

Lisää testejä ja tilastollisia funktioita:

https://docs.scipy.org/doc/scipy/reference/stats.html