<h2>Rivin lisääminen dataframen loppuun</h2>

In [1]:
import pandas as pd

# Avaan datan
df = pd.read_excel('http://taanila.fi/CO2.xlsx')
df.tail()

    Kuukausi     CO2
238  2019-10  408.53
239  2019-11  410.27
240  2019-12  411.76
241   2020-1  413.40
242   2020-2  414.11

In [2]:
# Rivin lisääminen loppuun
df.loc[df.shape[0]] = ['2020-3', 414.50]
df.tail()

    Kuukausi     CO2
239  2019-11  410.27
240  2019-12  411.76
241   2020-1  413.40
242   2020-2  414.11
243   2020-3  414.50

In [3]:
# Toinen tapa lisätä rivi loppuun
df = df.append(other={'Kuukausi':'2020-4', 'CO2':410.10}, ignore_index=True)
df.tail()

    Kuukausi     CO2
240  2019-12  411.76
241   2020-1  413.40
242   2020-2  414.11
243   2020-3  414.50
244   2020-4  410.10